*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.header-site a{
    text-align: center;
    text-decoration: none;
    color:rgb(199, 18, 27);
}